<div class="control-group">
  <label class="control-label" for="name">Name</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="name" id="name" placeholder="Name" required="true"}}
  </div>
</div>
