<div class="container">
<h1>
  Tasklist
  <div class="pull-right">
    {{#link-to "tasklists.new" class="btn btn-primary btn-sm"}}
      <span class="glyphicon glyphicon-plus"></span> New
    {{/link-to}}
  </div>
</h1>
{{outlet}}
</div>