# Ember.yaml 
# Configuration for {packageKey} Package

{packageNamespace}:
  {packageName}:
    emberNamespace: App
    persistenceLibrary: EPF  
    routes:
      rest: '{restRoute}'
      app: '{appRoute}'
    restController: '{restController}'

    # add model configuration 
    models: