{namespace k=TYPO3\Kickstart\ViewHelpers}# Ember.yaml 
# Configuration for {packageKey} Package

emberNamespace: App	
restNamespace: rest/
persistenceLibrary: EPF  
restController: {restController}
modelReflectionService: {modelReflectionService}


# add custom typeConverters 
typeConverters: 

# add model configuration 
models: 
    
