<f:layout name="Default" />

<f:section name="Title">A list of tasklists</f:section>

<f:section name="Content">
	<f:if condition="{tasklists}">
		<f:then>
			<ul>
				<f:for each="{tasklists}" as="tasklist">
					<li>
						<f:link.action action="show" arguments="{tasklist: tasklist}">{tasklist.name}</f:link.action>
						<f:link.action action="edit" arguments="{tasklist: tasklist}">Edit</f:link.action>
						<f:form action="delete" arguments="{tasklist: tasklist}">
							<f:form.submit value="Delete" />
						</f:form>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No tasklists created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new tasklist</f:link.action></p>
</f:section>