<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>
      </th>
      <th>ID</th>
      <th>Name</th>
      <th>Tasks</th>
    </tr>
  </thead>
  <tbody>
    {{#each tasklist in model}}
    <tr>
      <td>
        {{#link-to "tasklist" tasklist class="btn btn-primary btn-xs"}}
          <span class="glyphicon glyphicon-edit"></span>
        {{/link-to}}
        <button {{action "remove" tasklist}} class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
      <td>{{tasklist.id}}</td>
      <td>{{tasklist.name}}</td>
      <td>
        {{#each task in tasklist.tasks }}{{task.id}}{{/each}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>