#{model.emberNamePlural}#IndexController = Ember.ArrayController.extend({
	
	actions: {
		remove: function (#{model.modelNameLowercased}#) {
	  		if (window.confirm('Do you really want to delete this record?')) {
		  		this.session.deleteModel(#{model.modelNameLowercased}#);
		  		this.session.flush().then(null, function(models){
			     	alert("Could not remove record."); // TODO: add proper error handling
			    });
			}
	  	},
	}

});
